1. A set is a collection which is unordered and unindexed. 

2. In Python, sets are written with curly brackets. {}

3. Set doesn't allow duplicate values

In [1]:
s1={10,20.50,"Python"}

print(s1)

s2 = {"python", "Django", "DS","ML", "AN"}

print("Printing the Set elements:-", s2)

{10, 20.5, 'Python'}

###### Access Set Items

In [3]:
s1 = {"python", "Django", "DS","ML", "AN",22,33.4}

print("Elements in s1:- ",s1 )

print("Get the value from s1:- ",s1[2])

Elements in s1:-  {33.4, 'python', 22, 'AN', 'Django', 'ML', 'DS'}

TypeError: 'set' object is not subscriptable

In [3]:
# We cannot access items in a set by referring to an index or a key.

# But we can loop through the set items using a for loop,
# or ask if a specified value is present in a set, by using the "in" keyword.

s1 = {"python", "Django", "DS","ML"}

for x in s1:
  print("Set Elements:-",x,"\n")

print("Django" in s1)

print()

print("Linux" in s1)

Set Elements:- Django

Set Elements:- ML

Set Elements:- DS

Set Elements:- python

True

False

###### & and | Operations

In [6]:
s1={10,20.50,"Python"}

s2={30,45.45,"AWS"}

print("& Operation :-", s1&s2)

print()

print("| Operation :- ", s1|s2)

& Operation :- set()

| Operation :-  {'Python', 20.5, 'AWS', 10, 45.45, 30}

### Add Method - Adding a single element to the set

In [7]:
s1={10,20.50,"Python"}

s1.add(77)

print("Adding a new element:-",s1)

Adding a new item:- {10, 'Python', 20.5, 77}

In [ ]:
s1 = {"python", "Django", "DS","ML"}

s1.add("Java")

print("Add New Element into the Set:- ", s1)
print()

# s1.add("DevOps","AWS")
# print("Add New Elements into the Set:- ", s1)
# print()

### Update Method - Updating multiple elements

In [ ]:
# Once a set is created, you cannot change its items, but you can add new items.

# To add one item to a set use the add() method.

# To add more than one item (multiple items) to a set use the update() method.

In [8]:
s1={10,20.50,"Java"}

s1.update([40,50.50,"Python"])

print("Updating the Set with new elements:-", s1)

Updating the Set with new elements:- {'Python', 40, 10, 50.5, 20.5, 'Java'}

###### Length/Size of the set

In [11]:
s1={10,20,50,15,"Java","Python"}

print("Length of the Set with:-",len(s1))

print()

s2={40, 10, 50.5, 20.5, 'DS'}

print("Length of the Set with:-",len(s2))

Length of the Set with:- 6

Length of the Set with:- 5

###### Python set operations (union, intersection, difference and symmetric difference)

In [9]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B)

print()
  
# intersection
print("Intersection :", A & B)

print()

# difference
print("Difference :", A - B)

print()

# symmetric difference
print("Symmetric difference :", A ^ B)

# Return a new set with elements in either the set or other but not both.

# Itâ€™s performed by symmetric_difference() or by using the ^ operator.

Union : {0, 1, 2, 3, 4, 5, 6, 8}

Intersection : {2, 4}

Difference : {0, 8, 6}

Symmetric difference : {0, 1, 3, 5, 6, 8}

In [10]:
s1={40, 10, 50.5, 20.5, 'Python'}

print("Length of the set :-", len(s1))

Length of the set :- 5

### Join of two sets

In [ ]:
# There are several ways to join two or more sets in Python.
# We can use the union() method that returns a new set containing all items from both sets, 
# or the update() method that inserts all the items from one set into another

In [12]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c","d"}
set2 = {10, 20, 30,40}

s3=set1.union(set2)
print("Union of two sets:-", s3)

print()

s4=set2.union(s1)
print("Union of two sets:-", s4)

Union of two sets:- {40, 10, 'c', 'a', 'b', 20, 'd', 30}

Union of two sets:- {'Python', 40, 10, 50.5, 20, 20.5, 30}

In [14]:
set1 = {"a", "b" , "c","d"}
set2 = {10, 20, 30,40}

set1.update(set2)
print("Update the set1 with set2 values:-", set1)

print()

set2.update(set1)
print("Update the set2 with set1 values:-",set2)

Update the set1 with set2 values:- {40, 10, 'c', 'a', 'b', 20, 'd', 30}

Update the set2 with set1 values:- {40, 10, 'c', 'a', 'b', 20, 'd', 30}

###### Maximum & Minimum value

In [20]:
a={10,20,5,100,600,35}

print("Maximum value of set a:-", max(a))

Maximum value of set a:- 600

In [21]:
a={10,20,5,100,600,35}

print("Minimum value of set a:-", min(a))

Minimum value of set a:- 5

### Sorted

In [15]:
a={10,20,5,100,600,35}

print("Sorted value of set a:-", sorted(a))

print()

print("Sorted value of set a:-", sorted(a,reverse=True))

Sorted value of set a:- [5, 10, 20, 35, 100, 600]

Sorted value of set a:- [600, 100, 35, 20, 10, 5]

### Sum of the elements

In [23]:
a={10,20,5,100,600,35}

print("Sum value of set a:-", sum(a))

Sorted value of set a:- 770

### Removing items from set

In [ ]:
# We can also use the pop(), method to remove an item, but this method will remove the last item.
# Remember that sets are unordered, so we will not know what item that gets removed.

Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [24]:
a={10,20,5,100,600,35}

a.pop()

print("Pop value of set a:-", a)

Pop value of set a:- {100, 5, 10, 20, 600}

In [25]:
a={-122,-100,-378,-234}

a.pop()

print("Pop value of set a:-", a)

Pop value of set a:- {-100, -122, -234}

In [26]:
a={10,20,5,100,600,35}

a.pop()

print("Pop value of set a:-", a)

Pop value of set a:- {100, 5, 10, 20, 600}

In [27]:
a={10,20,5,100,600,35,34,56,90}

a.pop()

print("Pop value of set a:-", a)

Pop value of set a:- {35, 100, 5, 90, 10, 20, 600, 56}

In [29]:
# The del keyword will delete the set completely:

s3 = {"python", "Django", "DS","ML"}

del s3  

# print("SET Elements after DEL:-",s3)  #this will raise an error because the set no longer exists

### Clear method

In [30]:
# The clear() method empties the set:

s2 = {"python", "Django", "DS","ML"}

s2.clear()

print("SET after clear() function:-",s2)

SET after clear() function:- set()

### Remove items

In [31]:
s2 = {"python", "Django", "DS","ML"}

s2.remove("DS")

print("SET after remove() function:-",s2)

SET after remove() function:- {'ML', 'python', 'Django'}

### Discard

In [34]:
s2 = {"python", "Django", "DS","ML"}

s2.discard("ML")

print("SET after discard() function:-",s2)

print()

s2.discard("DS")

print("SET after discard() function:-",s2)

SET after discard() function:- {'DS', 'python', 'Django'}
SET after discard() function:- {'python', 'Django'}